<!DOCTYPE html>
<html>
<head>
    <title>Mis Cumpleaños</title>
</head>
<body>
    <h1>Cargar un Cumpleaños</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cargar Cumpleaños</button>
    </form>
<hr>
    
    
  <h1>Cumpleaños Mes a Mes</h1>
  {% for mes, cumpleaños in cumpleaños_por_mes.items %}
      <h2>{{ mes }}</h2>
      <div>
          {% for cumpleañero in cumpleaños %}
          <div>
            <h4>{{ cumpleañero.dia_cumpleaños }}</h4>
            <p>{{ cumpleañero.nombre }} {{ cumpleañero.apellido }} {{ cumpleañero.telefono }}</p>
            {% if cumpleañero.foto %}
            <img src="{{ cumpleañero.foto.url }}" alt="{{ cumpleañero.nombre }} {{ cumpleañero.apellido }}">
            {% endif %}
          {% empty %}
              <li>No hay cumpleaños este mes.</li>
          {% endfor %}
        </div>
  {% endfor %}
    
</body>
</html>
